name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      working-directory: rust
      run: cargo build --verbose
    - name: Cargo Run
      run: cd rust && cargo run
    - name: Run tests
      working-directory: rust
      run: cargo test --verbose
    - name: Build documentation
      working-directory: rust
      run: cargo doc --verbose
